﻿.tooltipControl {
	position: absolute;
	z-index: 10;
	display: none;
	top: 0;
	left: 0;
	max-width: 400px;
	background-color: #ffffff;
	border-radius: 3px;
	border: 1px solid #909090;
	box-shadow: 1px 1px 2px #505050;
	padding: 5px;
	transition: opacity 0.05s ease;
}

.tooltipControl.active {
	display: inline-block;
}

.tooltipControl .tooltipRow {
	position: relative;
	line-height: 15px;
	color: #505050;
	font-size: 11px;
}

.tooltipControl .tooltipRow .rowLabel {
	position: absolute;
	font-weight: bold;
	color: #606060;
	overflow: hidden;
	max-width: 80px;
	padding-right: 5px;
	vertical-align: middle;
	text-overflow: ellipsis;
	text-align: right;
}

.tooltipControl .tooltipRow .rowLabel:after {
	content: '';
	position: absolute;
	right: 0;
	width: 1px;
	height: 100%;
	background-color: #707070;
}

.tooltipControl .tooltipLabeledRow .rowValue {
	display: inline-block;
	margin-left: 90px;
}

.tooltipControl .tooltipRow + .tooltipRow {
	margin-top: 6px;
}
