﻿.aras-hide {
	display: none !important;
}

#BorderContainer .hiddenContainer {
	z-index: -1;
	position: absolute !important;
	opacity: 0;
	overflow: hidden;
	left: 0;
	top: 0;
}

.extended-properties-grid .dojoxGridRow.inherited .dojoxGridRowTable tr,
.dojoxGridRow.inherited .dojoxGridRowTable tr > td {
	background-color: rgb(230, 230, 230) !important;
	background-image: none;
}

.claro .extended-properties-grid .dojoxGridRowOdd .dojoxGridRowTable tr {
	background-color: white;
}

.xClassEditorContainer {
	display: flex;
	height: 100%;
}

.xClassEditorContainer .properties-grid {
	flex-grow: 1;
	display: flex;
}

.xClassEditorContainer .properties-grid iframe {
	height: 100%;
}

td[dndPointer] {
	position: relative;
}

td[dndPointer]:before {
	content: '';
	height: 20px;
	background-size: 4px 4px;
	background-repeat: repeat-y;
	background-position: 10% 0px, 60% 0px;
	width: 20px;
	display: block;
	background-image: radial-gradient(
			circle at 2px 2px,
			#9c9c9c 1px,
			transparent 1px,
			transparent 100%
		),
		radial-gradient(
			circle at 2px 2px,
			#9c9c9c 1px,
			transparent 1px,
			transparent 100%
		);
}
.xClassEditorContainer #xClassTreeToolbar + .class-tree {
	width: auto;
}
.xClassEditorContainer .class-tree {
	flex-grow: 0;
	flex-shrink: 0;
	width: 250px;
	overflow: auto;
	height: calc(100% - 32px);
}
.xClassEditorContainer .class-tree mark.focused {
	background-color: greenyellow;
}
.xClassEditorContainer input::-ms-clear {
	display: none;
}
.xClassEditorContainer .class-tree .aras-nav {
	display: table;
	min-width: 100%;
}
.xClassEditorContainer li.aras-nav__parent div,
.xClassEditorContainer li:not(.aras-nav__parent) {
	display: flex;
}
.xClassEditorContainer li.aras-nav__parent div img,
.xClassEditorContainer li:not(.aras-nav__parent) img {
	height: 100%;
	flex-grow: 0;
}
.xClassEditorContainer li.aras-nav__parent div span:first-child {
	height: 0px;
}
.xClassEditorContainer li.aras-nav__parent div span:last-child,
.xClassEditorContainer
	li:not(.aras-nav__parent)
	span:not(.aras-nav__tree-levelpad) {
	display: inline-block;
	flex-grow: 1;
}
.xClassEditorContainer li.aras-nav__parent div .aras-nav__icon span {
	flex-grow: 0;
}
.xClassEditorContainer .class-tree .aras-grid-header {
	display: none;
}
.xClassEditorContainer .class-tree .aras-grid-row-cell {
	border: none;
}
.xClassEditorContainer
	.class-tree
	.aras-grid-row:nth-child(2n + 1):not(.aras-grid-row_selected):not(:hover) {
	background: none;
}
.xClassEditorContainer .class-tree .aras-grid-active-cell,
.xClassEditorContainer .class-tree .aras-grid-active-cell_showed {
	display: none;
}
.xClassEditorContainer .class-tree .aras-nav__child_selected::after,
.xClassEditorContainer .class-tree .aras-nav__child_selected:hover::after,
.xClassEditorContainer .class-tree .aras-nav__parent_selected > div::after,
.xClassEditorContainer
	.class-tree
	.aras-nav__parent_selected
	> div:hover::after,
.xClassEditorContainer
	.class-tree
	.aras-nav__parent:not(.aras-nav__parent_selected)
	> div:hover::after,
.xClassEditorContainer
	.class-tree
	.aras-nav__child:not(.aras-nav__child_selected)::after {
	z-index: 0;
}
.xClassEditorContainer .class-tree .aras-nav__parent > div > *,
.xClassEditorContainer .class-tree .aras-nav li > * {
	z-index: 1;
}
.xClassEditorContainer .class-tree .aras-nav li > .aras-nav__tree-levelpad {
	padding-left: 30px;
}
.xClassEditorContainer .class-tree .aras-nav li,
.xClassEditorContainer .class-tree .aras-nav__parent > div {
	overflow: hidden;
}
.dnd-placeholder-node {
	position: absolute;
	border-bottom: 1px solid #cccccc;
	box-sizing: border-box;
}
.dnd-placeholder-node > div {
	border-width: 1px 1px 1px 4px;
	border-style: dashed dashed dashed solid;
	border-color: #5f86c1;
	box-sizing: border-box;
	display: inline-flex;
	height: 100%;
	align-items: center;
	color: #5f86c1;
	padding: 0px 10px;
}
.dnd-shiftable-row {
	transition: top 0.2s ease;
	top: 0px;
}
.dnd-shifted {
	top: 26px;
}
.dnd-drag-row {
	position: absolute;
	z-index: 1;
	opacity: 0.8;
	border-top: 1px solid #cccccc !important;
	border-left: 1px solid #cccccc !important;
}
.xClassEditorContainer .class-tree .aras-nav li,
.xClassEditorContainer .class-tree .aras-nav__parent > div {
	overflow: hidden;
}
tr {
	border-right: 1px solid #cccccc;
}
tr .aras-grid-row-cell_switch > div {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
tr .aras-grid-row-cell_switch > div.switch-container {
	display: inline-block;
}
tr .aras-grid-row-cell_switch span.cell-data {
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 1px;
}
tr:hover span.cell-data,
tr .aras-grid-row-cell_switch .aras-form-switch.checked + span.cell-data {
	width: calc(100% - 14px);
}
.aras-form-switch {
	position: absolute;
	right: 0;
	top: 6px;
	bottom: 2px;
	display: none;
	width: 14px;
}
.aras-form-switch.checked,
tr:hover .aras-form-switch {
	display: block;
}
.aras-form-switch input ~ span.switch-off,
.aras-form-switch input ~ span.switch-on {
	width: 100%;
	height: 20px;
	cursor: pointer;
}
.aras-form-switch input ~ span.switch-off {
	background: url('../../../images/ToggleOffGrey.svg') center center / cover
		no-repeat;
}
.aras-form-switch input ~ span.switch-on {
	background: url('../../../images/ToggleOnBlue.svg') center center / cover
		no-repeat;
}
.aras-form-switch input:checked ~ span.switch-on,
.aras-form-switch input ~ span.switch-off {
	display: block;
}
.aras-form-switch input ~ span.switch-on,
.aras-form-switch input:checked ~ span.switch-off {
	display: none;
}
.aras-grid-row-cell_switch .checkBoxContainer > div {
	margin-bottom: 0;
	margin-top: 9px;
}
.aras-grid-row-cell_switch .checkBoxContainer + .aras-form-switch {
	visibility: hidden;
	display: block;
}
.aras-form-switch input[type='checkbox'] {
	display: none;
}
tr:hover .aras-grid-row-cell_switch .checkBoxContainer + .aras-form-switch,
tr .aras-grid-row-cell_switch .checkBoxContainer + .aras-form-switch.checked {
	visibility: visible;
	right: 2px;
}
.dojoxGrid .dojoxGridContent td.aras-grid-row-cell_switch.dojoxGridCellFocus {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
