﻿.toggled-on {
  color: #333333;
  background-color: #dce3f9;
  border-color: #333380;
  box-shadow: none;
}
.toggled-on:not([disabled]):hover,
.toggled-on:not([disabled]):focus {
  background-color: #e2e6f3;
  border-color: #333380;
  box-shadow: none;
}
.toggled-on:not([disabled]):active {
  background-color: #e2e6f3;
  border-color: #777a9c;
}
.aras-tooltip[data-tooltip] {
  position: relative;
}
.aras-tooltip[data-tooltip]:before,
.aras-tooltip[data-tooltip]:after {
  opacity: 0;
  pointer-events: none;
  transition: all 0.18s ease-out 0.18s;
  bottom: 100%;
  left: 50%;
  position: absolute;
  z-index: 10;
  transform: translate(-50%, 10px);
  transform-origin: top;
}
.aras-tooltip[data-tooltip]:after {
  background: #ffffff;
  border: 1px solid #4b4b68;
  border-radius: 0.33333333rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.24);
  content: attr(data-tooltip);
  color: #23222f;
  font: normal 1rem Roboto, 'Noto Sans JP', Arial, sans-serif;
  line-height: 100%;
  padding: 7px 8px;
  white-space: nowrap;
  margin-bottom: 8px;
}
.aras-tooltip[data-tooltip]:before {
  background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2224px%22%20height%3D%2216px%22%3E%3Cg%20transform%3D%22rotate%280%29%22%3E%3Cpolygon%20points%3D%220,0%2012,16%2024,0%22%20fill%3D%22%23fff%22%20stroke%3D%22%234b4b68%22%20stroke-width%3D%222%22/%3E%3Crect%20x%3D%220%22%20y%3D%22-2%22%20width%3D%2224%22%20height%3D%224%22%20fill%3D%22%23ffffff%22/%3E%3C/g%3E%3C/svg%3E') no-repeat;
  background-size: 100% auto;
  height: 8px;
  width: 12px;
  content: '';
  margin-bottom: 2px;
  z-index: 11;
}
.aras-tooltip[data-tooltip]:not([data-focus-within]):hover:before,
.aras-tooltip[data-tooltip]:not([data-focus-within]):hover:after {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, 0);
}
.aras-tooltip[data-tooltip][data-tooltip-break]:after {
  white-space: pre-line;
  text-align: center;
}
.aras-tooltip[data-tooltip][data-tooltip-show='focuswithin'][data-focus-within='true']:after,
.aras-tooltip[data-tooltip][data-tooltip-show='focuswithin'][data-focus-within='true']:before {
  opacity: 1;
  pointer-events: auto;
}
.aras-tooltip[data-tooltip][data-tooltip-show='focuswithin']:focus-within:after,
.aras-tooltip[data-tooltip][data-tooltip-show='focuswithin']:focus-within:before {
  opacity: 1;
  pointer-events: auto;
}
.aras-tooltip[data-tooltip][data-tooltip-show='focuswithin'][data-tooltip-pos='up']:after,
.aras-tooltip[data-tooltip][data-tooltip-show='focuswithin'][data-tooltip-pos='down']:after,
.aras-tooltip[data-tooltip][data-tooltip-show='focuswithin'][data-tooltip-pos='up']:before,
.aras-tooltip[data-tooltip][data-tooltip-show='focuswithin'][data-tooltip-pos='down']:before {
  transform: translate(-50%, 0);
}
.aras-tooltip[data-tooltip][data-tooltip-show='focuswithin'][data-tooltip-pos='left']:before,
.aras-tooltip[data-tooltip][data-tooltip-show='focuswithin'][data-tooltip-pos='right']:before,
.aras-tooltip[data-tooltip][data-tooltip-show='focuswithin'][data-tooltip-pos='left']:after,
.aras-tooltip[data-tooltip][data-tooltip-show='focuswithin'][data-tooltip-pos='right']:after {
  transform: translate(0, -50%);
}
.aras-tooltip[data-tooltip][data-tooltip-show='true']:after,
.aras-tooltip[data-tooltip][data-tooltip-show='true']:before {
  opacity: 1;
  pointer-events: auto;
}
.aras-tooltip[data-tooltip][data-tooltip-show='true'][data-tooltip-pos='up']:after,
.aras-tooltip[data-tooltip][data-tooltip-show='true'][data-tooltip-pos='down']:after,
.aras-tooltip[data-tooltip][data-tooltip-show='true'][data-tooltip-pos='up']:before,
.aras-tooltip[data-tooltip][data-tooltip-show='true'][data-tooltip-pos='down']:before {
  transform: translate(-50%, 0);
}
.aras-tooltip[data-tooltip][data-tooltip-show='true'][data-tooltip-pos='left']:before,
.aras-tooltip[data-tooltip][data-tooltip-show='true'][data-tooltip-pos='right']:before,
.aras-tooltip[data-tooltip][data-tooltip-show='true'][data-tooltip-pos='left']:after,
.aras-tooltip[data-tooltip][data-tooltip-show='true'][data-tooltip-pos='right']:after {
  transform: translate(0, -50%);
}
.aras-tooltip[data-tooltip][data-tooltip-show='false']:after,
.aras-tooltip[data-tooltip][data-tooltip-show='false']:hover:after,
.aras-tooltip[data-tooltip][data-tooltip-show='false']:before,
.aras-tooltip[data-tooltip][data-tooltip-show='false']:hover:before {
  opacity: 0;
  pointer-events: none;
}
.aras-tooltip[data-tooltip-pos='down']:before,
.aras-tooltip[data-tooltip-pos='down']:after {
  bottom: auto;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -10px);
}
.aras-tooltip[data-tooltip-pos='down']:after {
  margin-top: 8px;
}
.aras-tooltip[data-tooltip-pos='down']:before {
  background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2224px%22%20height%3D%2216px%22%3E%3Cg%20transform%3D%22rotate%28180%2012%208%29%22%3E%3Cpolygon%20points%3D%220,0%2012,16%2024,0%22%20fill%3D%22%23fff%22%20stroke%3D%22%234b4b68%22%20stroke-width%3D%222%22/%3E%3Crect%20x%3D%220%22%20y%3D%22-2%22%20width%3D%2224%22%20height%3D%224%22%20fill%3D%22%23ffffff%22/%3E%3C/g%3E%3C/svg%3E') no-repeat;
  background-size: 100% auto;
  height: 8px;
  width: 12px;
  margin-top: 2px;
  margin-bottom: 0;
}
.aras-tooltip[data-tooltip-pos='down']:not([data-focus-within]):hover:before,
.aras-tooltip[data-tooltip-pos='down']:not([data-focus-within]):hover:after {
  transform: translate(-50%, 0);
}
.aras-tooltip[data-tooltip-pos='left']:before,
.aras-tooltip[data-tooltip-pos='left']:after {
  bottom: auto;
  left: auto;
  right: 100%;
  top: 50%;
  transform: translate(10px, -50%);
}
.aras-tooltip[data-tooltip-pos='left']:after {
  margin-right: 8px;
}
.aras-tooltip[data-tooltip-pos='left']:before {
  background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216px%22%20height%3D%2224px%22%3E%3Cg%20transform%3D%22rotate%28-90%2012%2012%29%22%3E%3Cpolygon%20points%3D%220,0%2012,16%2024,0%22%20fill%3D%22%23fff%22%20stroke%3D%22%234b4b68%22%20stroke-width%3D%222%22/%3E%3Crect%20x%3D%220%22%20y%3D%22-2%22%20width%3D%2224%22%20height%3D%224%22%20fill%3D%22%23ffffff%22/%3E%3C/g%3E%3C/svg%3E') no-repeat;
  background-size: 100% auto;
  height: 12px;
  width: 8px;
  margin-right: 2px;
  margin-bottom: 0;
}
.aras-tooltip[data-tooltip-pos='left']:not([data-focus-within]):hover:before,
.aras-tooltip[data-tooltip-pos='left']:not([data-focus-within]):hover:after {
  transform: translate(0, -50%);
}
.aras-tooltip[data-tooltip-pos='right']:before,
.aras-tooltip[data-tooltip-pos='right']:after {
  bottom: auto;
  left: 100%;
  top: 50%;
  transform: translate(-10px, -50%);
}
.aras-tooltip[data-tooltip-pos='right']:after {
  margin-left: 8px;
}
.aras-tooltip[data-tooltip-pos='right']:before {
  background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216px%22%20height%3D%2224px%22%3E%3Cg%20transform%3D%22rotate%2890%208%208%29%22%3E%3Cpolygon%20points%3D%220,0%2012,16%2024,0%22%20fill%3D%22%23fff%22%20stroke%3D%22%234b4b68%22%20stroke-width%3D%222%22/%3E%3Crect%20x%3D%220%22%20y%3D%22-2%22%20width%3D%2224%22%20height%3D%224%22%20fill%3D%22%23ffffff%22/%3E%3C/g%3E%3C/svg%3E') no-repeat;
  background-size: 100% auto;
  height: 12px;
  width: 8px;
  margin-bottom: 0;
  margin-left: 2px;
}
.aras-tooltip[data-tooltip-pos='right']:not([data-focus-within]):hover:before,
.aras-tooltip[data-tooltip-pos='right']:not([data-focus-within]):hover:after {
  transform: translate(0, -50%);
}
.aras-tooltip[data-tooltip-length]:after {
  white-space: normal;
}
.aras-tooltip[data-tooltip-length='small']:after {
  width: 80px;
}
.aras-tooltip[data-tooltip-length='medium']:after {
  width: 150px;
}
.aras-tooltip[data-tooltip-length='large']:after {
  width: 260px;
}
.aras-tooltip[data-tooltip-length='xlarge']:after {
  width: 90vw;
}
@media screen and (min-width: 768px) {
  .aras-tooltip[data-tooltip-length='xlarge']:after {
    width: 380px;
  }
}
.aras-tooltip[data-tooltip-length='fit']:after {
  width: 100%;
}
/* stylelint-disable */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/* stylelint-enable */
html,
body {
  font-size: 0.75em;
  font-family: Roboto, 'Noto Sans JP', Arial, sans-serif;
  height: 100%;
  min-width: 800px;
  min-height: 480px;
}
body {
  background: radial-gradient(circle at 0% 10%, #424680 5%, #0b144b 40%);
  background-size: cover;
  background-position: bottom right;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.login-area {
  display: -ms-grid;
  display: grid;
  width: 66.67rem;
  height: 29.33rem;
  margin-bottom: 10%;
  position: relative;
  -ms-grid-columns: 40rem 26.67rem;
  grid-template-columns: 40rem 26.67rem;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  background-color: #1a173a;
  box-shadow: 0 16px 36px rgba(0, 0, 0, 0.32), 0 8px 12px rgba(0, 0, 0, 0.24);
}
.login-area__logo {
  height: 100%;
  position: relative;
  background-color: #ffffff;
  background-size: contain;
  background-repeat: no-repeat;
}
.login-area__form {
  display: flex;
  flex-direction: column;
  padding: 32px 32px 0;
  box-sizing: border-box;
  -ms-grid-column: 2;
  grid-column: 2;
}
.login-area__form_logged-out {
  justify-content: space-between;
}
.login-area__database,
.login-area__auth-type {
  margin-bottom: 10px;
}
.login-area__select {
  position: relative;
}
.login-area__input-icon {
  display: block;
  width: 1.333rem;
  height: 1.333rem;
  position: absolute;
  top: 25%;
  left: 8px;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}
.login-area__user-icon {
  background-image: url("data:image/svg+xml,%3Csvg%20height%3D%2248%22%20viewBox%3D%220%200%2048%2048%22%20width%3D%2248%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m24%208a8%208%200%201%201%20-8%208%208%208%200%200%201%208-8m0%2020c8.8%200%2016%203.6%2016%208v4h-32v-4c0-4.4%207.2-8%2016-8z%22%20fill%3D%22%23777%22%2F%3E%3C%2Fsvg%3E");
}
.login-area__database-icon {
  background-image: url("data:image/svg+xml,%3Csvg%20height%3D%2248%22%20viewBox%3D%220%200%2048%2048%22%20width%3D%2248%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m4%2040h40v-8h-40zm4-6h4v4h-4zm-4-26v8h40v-8zm8%206h-4v-4h4zm-8%2014h40v-8h-40zm4-6h4v4h-4z%22%20fill%3D%22%23777%22%2F%3E%3C%2Fsvg%3E");
}
.login-area__password-icon {
  background-image: url("data:image/svg+xml,%3Csvg%20height%3D%2248%22%20viewBox%3D%220%200%2048%2048%22%20width%3D%2248%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m36%2016h-2v-4a10%2010%200%200%200%20-20%200v4h-2a4%204%200%200%200%20-4%204v20a4%204%200%200%200%204%204h24a4%204%200%200%200%204-4v-20a4%204%200%200%200%20-4-4zm-12%2018a4%204%200%201%201%204-4%204%204%200%200%201%20-4%204zm6.2-18h-12.4v-4a6.2%206.2%200%200%201%2012.4%200z%22%20fill%3D%22%23777%22%2F%3E%3C%2Fsvg%3E");
}
.login-area__method-icon {
  background-image: url("data:image/svg+xml,%3Csvg%20height%3D%2248%22%20viewBox%3D%220%200%2048%2048%22%20width%3D%2248%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m42.3%2011.3-6.7-3.8a2.78%202.78%200%200%200%20-1.6-.5%203.36%203.36%200%200%200%20-1.7.4l-6.7%203.8a3.46%203.46%200%200%200%20-1.7%202.9v7.2l-19.7%2012.6%202.7%204.2%201.7-1.1%202.3%203.6%204.2-2.7-2.3-3.6%201.9-1.2%202.2%203.5%204.2-2.7-2.2-3.5%208-5.1%205.4%203.1a3.83%203.83%200%200%200%203.4%200l6.7-3.8a3.46%203.46%200%200%200%201.7-2.9v-7.7a3.51%203.51%200%200%200%20-1.8-2.7zm-5.3%208.7a3%203%200%201%201%203-3%202.94%202.94%200%200%201%20-2.89%203z%22%20fill%3D%22%23777%22%2F%3E%3C%2Fsvg%3E");
}
.login-area__select-button {
  display: block;
  width: 1.667rem;
  height: 1.667rem;
  position: absolute;
  top: 20%;
  right: 6px;
  background-color: #eeeeee;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  pointer-events: none;
}
.login-area__select-button::before {
  content: '';
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  top: calc(50% - 0.45rem);
  left: calc(50% - 0.3rem);
  transform: rotate(45deg);
  border: 2px solid #303f9f;
  border-left: none;
  border-top: none;
}
.login-area__credentials {
  margin-top: 22px;
}
.login-area__user,
.login-area__password {
  margin-bottom: 16px;
  position: relative;
}
.login-area__submit-btn {
  padding: 8px;
  float: right;
  border: 0;
  border-radius: 3px;
  background-color: #182bfb;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.56);
  color: #ffffff;
  font-size: 1.167rem;
  font-weight: bold;
  font-family: inherit;
  min-width: 124px;
}
.login-area__continue-btn {
  margin-top: 14px;
}
.login-area__login-again-btn {
  align-self: flex-end;
  margin-bottom: 32px;
}
.login-area__info {
  display: flex;
  flex-direction: column;
}
.login-area__info-content {
  display: flex;
}
.login-area__info-icon {
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg%20height%3D%2248%22%20viewBox%3D%220%200%2048%2048%22%20width%3D%2248%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%231976d2%22%3E%3Cpath%20d%3D%22m24%204c-11%200-20%209-20%2020s9%2020%2020%2020%2020-9%2020-20-9-20-20-20zm0%2036c-8.8%200-16-7.2-16-16s7.2-16%2016-16%2016%207.2%2016%2016-7.2%2016-16%2016z%22%2F%3E%3Ccircle%20cx%3D%2224%22%20cy%3D%2215%22%20r%3D%223%22%2F%3E%3Cpath%20d%3D%22m24%2020c-1.7%200-3%201.3-3%203v10c0%201.7%201.3%203%203%203s3-1.3%203-3v-10c0-1.7-1.3-3-3-3z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  flex-shrink: 0;
  height: 24px;
  width: 24px;
}
.login-area__info-description {
  -ms-grid-row-align: center;
      align-self: center;
  margin-left: 8px;
  font: normal 1rem Roboto, 'Noto Sans JP', Arial, sans-serif;
  overflow-x: hidden;
  word-break: break-word;
  word-wrap: break-word;
}
.login-area__info-label,
.login-area__info-description {
  color: #ffffff;
}
.login-area__info-label {
  display: block;
  font: bold 1.333rem Roboto, 'Noto Sans JP', Arial, sans-serif;
  margin-bottom: 10px;
}
.login-area__error {
  color: #ffffff;
  display: none;
  font: bold 1.333rem Roboto, 'Noto Sans JP', Arial, sans-serif;
  min-height: 3.583rem;
  width: 26.67rem;
  padding: 12px;
  position: absolute;
  top: 100%;
  right: 0;
  box-sizing: border-box;
  background-color: #d32f2f;
  box-shadow: 0 16px 36px rgba(0, 0, 0, 0.32), 0 8px 12px rgba(0, 0, 0, 0.24);
  word-break: break-word;
  word-wrap: break-word;
}
.login-area__error_visible {
  display: block;
}
.login-area__error-icon {
  background-image: url("data:image/svg+xml,%3Csvg%20height%3D%2248%22%20viewBox%3D%220%200%2048%2048%22%20width%3D%2248%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m31.5%2042h-15l-10.5-10.46v-15l10.5-10.54h15l10.5%2010.54v15z%22%20fill%3D%22%23d32f2f%22%2F%3E%3Cpath%20d%3D%22m34.4%2016.4-2.8-2.8-7.6%207.6-7.6-7.6-2.8%202.8%207.6%207.6-7.6%207.6%202.8%202.8%207.6-7.6%207.6%207.6%202.8-2.8-7.6-7.6z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  flex-shrink: 0;
  height: 24px;
  pointer-events: none;
  width: 24px;
}
.login-area__version-info {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-size: 0.8333rem;
  color: #777777;
}
label {
  display: block;
  padding-bottom: 4px;
  color: #ffffff;
  font-size: 1rem;
}
input,
select {
  display: block;
  width: 100%;
  height: 2.667rem;
  padding: 0;
  padding-left: 2.667rem;
  box-sizing: border-box;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  font-size: 1.167rem;
  color: #333333;
  background-color: #fbfbfb;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
}
input::-webkit-input-placeholder {
  color: #777777;
}
input::-moz-placeholder {
  color: #777777;
}
input:-ms-input-placeholder {
  color: #777777;
}
input::-ms-input-placeholder {
  color: #777777;
}
input::placeholder {
  color: #777777;
}
select::-ms-expand {
  display: none;
}
select {
  padding-right: 32px;
}
.wrong {
  border-color: #d32f2f;
}
.aras-site {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #1a173a;
}
.aras-site__link,
.aras-site__link:visited,
.aras-site__link:active {
  font-size: 1.167rem;
  color: #ffffff;
}
.aras-tooltip[data-tooltip][data-tooltip-show='true']:after {
  font-weight: bold;
}
