﻿body {
	font: 12px/1.4 Tahoma, Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	color: #444444;
	text-align: justify;
	overflow: hidden;
}

hlr {
	color: #e78e46;
}

hlr[active] {
	background-color: #e78e46 !important;
	color: white;
}

#dijitEditorBody {
	height: 100%;
	position: relative;
	box-sizing: border-box;
	padding: 5px;
	overflow: auto;
}

.editorContentNode {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.shadowInput {
	/* HACK:
		opacity: 0.01 - it should be invisible but not hidden to be focusable
		left: -1000px - moved to the left to not see flashing caret if focus placed into it
	*/
	position: absolute;
	left: -1000px;
	top: 0px;
	opacity: 0.01;
}

.TechDocElementSelection {
	background-color: rgb(248, 238, 192) !important;
}

.XmlSchemaElement {
	position: relative;
	border: none;
}

.XmlSchemaText {
	display: block;
	position: relative;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.ArasTextXmlSchemaElement {
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 10px;
	white-space: pre-wrap;
	word-wrap: break-word;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.ArasTextXmlSchemaElement,
.XmlSchemaText {
	min-height: 1.4em; /* font-size=1em and line-height:1.4 */
}

.ArasTextXmlSchemaElement:empty:not(:focus):before,
.XmlSchemaText:empty:not(:focus):before {
	content: attr(data-placeholder);
	color: rgba(0, 0, 0, 0.5);
}

.ArasImageXmlSchemaElement {
	margin: 2px 0px;
}

.ArasImageXmlSchemaElement img {
	max-width: 100%;
	max-height: 100%;
}

.ArasXmlSchemaElementEmpty {
	cursor: pointer;
	box-sizing: border-box;
	padding-left: 50px;
	line-height: 30px;
	font-size: 14px;
	color: #808080;
}

.ArasImageXmlSchemaElement.ArasXmlSchemaElementEmpty .ArasElementPlaceholder,
.ArasItemXmlSchemaElement.ArasXmlSchemaElementEmpty .ArasElementPlaceholder {
	border: 1px dashed #cccccc;
	background-color: #f0f0f0;
	margin-left: -50px;
	padding-left: 50px;
}

.ArasImageXmlSchemaElement.ArasXmlSchemaElementEmpty
	.ArasElementPlaceholder:hover,
.ArasItemXmlSchemaElement.ArasXmlSchemaElementEmpty
	.ArasElementPlaceholder:hover {
	background-color: #fafafa;
}

.ArasImageXmlSchemaElement.ArasXmlSchemaElementEmpty
	.ArasElementPlaceholder:before,
.ArasItemXmlSchemaElement.ArasXmlSchemaElementEmpty
	.ArasElementPlaceholder:before {
	content: ' ';
	position: absolute;
	height: 30px;
	width: 30px;
	left: 5px;
	z-index: 10;
	opacity: 0.5;
	background-size: 30px 30px;
	background-repeat: no-repeat;
}

.ArasImageXmlSchemaElement.ArasXmlSchemaElementEmpty
	.ArasElementPlaceholder:before {
	background-image: url('../../../../../../../../images/Image_2.svg');
}

.ArasItemXmlSchemaElement.ArasXmlSchemaElementEmpty
	.ArasElementPlaceholder:before {
	background-image: url('../../../../../../../../images/ItemType.svg');
}

.InactiveContainer {
	position: relative;
	padding-bottom: 5px;
}

.ArasXmlSchemaElementInactive {
	padding-bottom: 10px;
}

.ArasXmlSchemaElementInactive.ContentCollapsed,
.ArasXmlSchemaElementInactive .ArasXmlSchemaElementInactive {
	padding-bottom: 0px;
}

.InactiveContainer .InactiveContent {
	overflow: hidden;
	opacity: 0.4;
	height: 20px;
	margin: 2px 28px 0px 24px;
	padding-top: 2px;
	border: 1px solid #a0a0a0;
}

.InactiveContent:not(.OpenedContent) > .XmlSchemaElement:first-child {
	padding-top: 0px !important;
}

.InactiveContainer .InactiveContent.OpenedContent {
	height: auto;
	border: none;
	overflow: visible;
}

.ExpandoButton {
	position: absolute;
	z-index: 20;
	top: 4px;
	left: 4px;
	width: 14px;
	height: 14px;
	background-image: url('../../../../../../../../images/plus.svg');
	background-repeat: no-repeat;
}

.ExpandoButton.Opened {
	background-image: url('../../../../../../../../images/minus.svg');
}

.ConditionButton {
	position: absolute;
	z-index: 20;
	right: 2px;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-image: url('../../../../../../../../images/ConditionsApplied.svg');
	background-repeat: no-repeat;
}

.ConditionButton:hover {
	border: 1px dotted #c0c0c0;
}

.ExpandoArea {
	position: absolute;
	z-index: 15;
	top: 20px;
	left: 10px;
	bottom: 2px;
	width: 4px;
	border-width: 0px 0px 1px 1px;
	border-style: dotted;
	border-color: #a0a0a0;
}

.ArasXmlSchemaElementUpdatable {
	border: 2px dashed #b83b1d !important;
	margin: 1px;
}

/*--- List Styles -------*/
.ArasListXmlSchemaElement {
	counter-reset: listCounter;
	position: relative;
	list-style: none;
}

.ArasListItemXmlSchemaElement div {
	padding-top: 2px !important;
	padding-bottom: 0px !important;
}

.ArasListItemXmlSchemaElement {
	counter-increment: listCounter;
	display: list-item;
	position: relative;
	padding-left: 25px;
	min-height: 20px;
}

.ArasListItemXmlSchemaElement.bulletListItem:before {
	content: counter(listCounter, disc);
	position: absolute;
	left: 5px;
	top: 2px;
}

.ArasListItemXmlSchemaElement.numericListItem:before {
	content: counter(listCounter, decimal);
	position: absolute;
	left: 5px;
	top: 2px;
}

.ArasListItemXmlSchemaElement.alphaListItem:before {
	content: counter(listCounter, lower-alpha);
	position: absolute;
	left: 5px;
	top: 2px;
}

.ArasListItemXmlSchemaElement > .ArasTextXmlSchemaElement {
	text-align: justify;
}

/*--- Table Styles -------*/
.ArasTableXmlSchemaElement {
	border: 1px solid #505050;
	border-spacing: 0;
	width: 100%;
	table-layout: fixed;
}

.ArasFakeTableXmlSchemaElement {
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
}

.ArasFakeTableXmlSchemaElement tr.ArasRowXmlSchemaElement {
	outline: 1px solid grey;
	width: 100%;
}

.ArasFakeTableXmlSchemaElement td.ArasCellXmlSchemaElement {
	border: 1px dotted grey;
}

.ArasXmlSchemaElementBlocked {
	padding: 5px;
	border: 1px dashed #b83a1d;
	color: #b83a1d;
	font-style: italic;
}

.ArasRowXmlSchemaElement {
	width: 100%;
	border: 0;
	min-height: 30px;
}

.ArasBrokenCellXmlSchemaElement {
	border: 1px dotted red;
	color: red;
	text-align: center;
}

.ArasCellXmlSchemaElement {
	border: 1px solid #505050;
	overflow: hidden;
}

.ArasCellXmlSchemaElement > div {
	display: block;
}

.ArasCellXmlSchemaElement > div.ArasListXmlSchemaElement {
	display: block;
}

.valign_top {
	vertical-align: top;
}

.valign_middle {
	vertical-align: middle;
}

.valign_bottom {
	vertical-align: bottom;
}

.align_center {
	text-align: center;
}

.align_justify {
	text-align: justify;
}

.align_left {
	text-align: left;
}

.align_right {
	text-align: right;
}
