﻿<!DOCTYPE html>
<!-- (c) Copyright by Aras Corporation, 2004-2015. -->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link rel="stylesheet" type="text/css" href="@Url.ContentWithSalt("~/javascript/include.aspx?classes=MyReports.css")" />

		<script type="text/javascript" src="@Url.ContentWithSalt("~/javascript/include.aspx?classes=ArasModules")"></script>
		<script type="text/javascript" src="@Url.ContentWithSalt("~/javascript/include.aspx?classes=/dojo.js,ModulesHelper,ScriptSet1,MyReports")" data-dojo-config="baseUrl:'@Url.ContentWithSalt("~/javascript/dojo")'"></script>
		<script type="text/javascript">
			var topWnd = parent.parent;
			var aras = topWnd.aras;
			var itemTypeID = "0B9D641B40D24036A117D911558CBDCE";
			var itemTypeName = "MyReports";
			var consumeLicense = aras.ConsumeLicense('Aras.SelfServiceReporting');
			var license = !!consumeLicense.result;
			if (!license) {
				window.location = "Views/GetLicense.html";
			}
		</script>
	</head>
	<body class="claro">
		<div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:false, liveSplitters:false" style="width: 100%; height: 100%;">
			<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'left', splitter: false, minSize:300" baseClass="dijitContentPaneNoPadding" id="reportsTree" style="width: 300px;">
				<div data-dojo-type="dijit/layout/ContentPane" id="treeContainer">
					<div class="side-header">
                        <h3>
                            <span aras_ui_resource_key="common.contents" id="myreportsTitle"></span>
                        </h3>
                    </div>
					<div id="treeHeader">
						<span><input type="text" name="searchBox" id="searchBox" tabindex="0"/></span>
						<div id="searchBtn"></div>
					</div>
				</div>
			</div>
			<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'center'" baseClass="dijitContentPaneNoPadding" id="reportsPreview"></div>
		</div>
	</body>
</html>
