﻿<!DOCTYPE html>
<!-- (c) Copyright by Aras Corporation, 2004-2013. -->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="icon" sizes="16x16 32x32 48x48 64x64 144x144" href="@Url.Content("~/images/favicon.ico")" />
		@RenderSection("init_window")
		@RenderSection("init_widgets")
		@RenderSection("header")
		@RenderSection("load_widgets")
	</head>
	<body class="claro">
		@RenderSection("body")
	</body>
</html>
