﻿@{
	Layout = "_baseLayout.cshtml";
	bool hideMenu = ViewBag.HideMenu ?? false;
	bool hideToolbar = ViewBag.HideToolbar ?? false;
}
@section init_window
{
	@if (IsSectionDefined("init_window"))
	{
		@RenderSection("init_window")
	}
	else
	{
		<script type="text/javascript" src="@Url.ContentWithSalt("~/Modules/aras.innovator.core.ItemWindow/Scripts/_cuiLayout.js")"></script>
		<script>
			var nativeClose = window.close; //need for IE
			var nativeFocus = window.focus; //need for IE
			var nativeParent = window.parent; //need for IE
		</script>
		<script>
			var paramObjectName = window.name + '_params';
			var close;
			var focus;
			var parent = window;

			if (window.frameElement) {
				if (!window.opener) {
					window.opener = nativeParent;
				}

				var arasTabsobj = window.opener.arasTabs;
				arasTabsobj.setTitleTabWithFrame(window);

				focus = cuiWindowFocusHandler;
				close = cuiWindowCloseHandler;
			} else {
				close = nativeClose;
				focus = nativeFocus;
				// setting title by document.write to disable IE security sideeffect, when page URL displayed instead of title
				document.write('<title>' + (window.opener[paramObjectName].title?window.opener[paramObjectName].title: '') + '</title>');
			}

			window.addEventListener('beforeunload', cuiWindowBeforeUnloadHandler);
			window.addEventListener('unload', cuiWindowUnloadHandler);
			document.addEventListener('commandBarChanged', cuiCommandBarChangeHandler);
		</script>
		if (IsSectionDefined("style"))
		{
			@RenderSection("style")
		}
		else
		{
			<style type="text/css">
				@@import "@Url.ContentWithSalt("~/javascript/include.aspx?classes=arasClaro.css,discussion.css,common.min.css,cuiLayout.css")";
			</style>
		}
		<script type="text/javascript" id="ScriptSet1" src="@Url.ContentWithSalt("~/javascript/include.aspx?classes=ArasModules,ScriptSet1,TearOffMenuControllerNoCUI,pageReturnBlocker")"></script>
		<script>
			var aras = new Aras(window.opener[paramObjectName].aras);
			var viewType = window.opener[paramObjectName].viewType;
			var windowReadyObjectResolve = window.opener[paramObjectName].windowReadyObjectResolve;
			ArasModules.intl.locale = aras.getSessionContextLocale();
		</script>
		<script type="text/javascript" src="@Url.ContentWithSalt("~/javascript/include.aspx?classes=/dojo.js")" data-dojo-config="@(ViewBag.syncMode == null ? "async: true," : "") baseUrl:'@Url.ContentWithSalt("~/javascript/dojo")'"></script>
		<script type="text/javascript" src="@Url.ContentWithSalt("~/javascript/dojo/layout.js")"></script>
		<script type="text/javascript" src="@Url.ContentWithSalt("~/javascript/include.aspx?classes=arasInnovatorCUI")"></script>
		<script>
				window.cui = new CUI_ConfigurableUI();
		</script>
	}
}
@section init_widgets
{
	@if (IsSectionDefined("init_widgets"))
	{
		@RenderSection("init_widgets")
	}
	else
	{
		<script src="@Url.Content("~/jsBundles/cui.js")"></script>
		<script src="@Url.Content("~/Modules/aras.innovator.core.EffectivityServices/Scripts/ExtendRelationshipsControlOnTabHandler.js")"></script>
		<script type="text/javascript">
			const loadRelationships = function() {
				const accordion = document.querySelector('.aras-item-view__relationship-accordion');
				const tabsContainer = document.createElement('aras-tabs');

				tabsContainer.setAttribute('movable', '');
				tabsContainer.classList.add('aras-flex-grow');
				tabsContainer.id = 'tabs-container';

				accordion.querySelector('.aras-accordion__header').appendChild(tabsContainer);
				tabsContainer.on('click', function() {
					if (accordion.collapsed) {
						accordion.expand();
					}
				});

				return clientControlsFactory.createControl("Aras.Client.Controls.Experimental.Relationships", {
					className: 'aras-item-view__relationship-content',
					id: 'centerMiddle',
					queryString: {
						db: databaseName,
						ITName: itemTypeName,
						itemID: itemID,
						editMode: isEditMode ? '1' : '0',
						tabbar:'1',
						toolbar:'1',
						where:'tabview'
					},
					region: 'center',
					window: window,
				})
				.then(function(relationshipsControl) {
					window.relationshipsControl = relationshipsControl;
					accordion.appendChild(relationshipsControl.domNode);
					relationshipsControl.startup();
					relationshipsControl.resize();
					const relationshipsControlLoaded = new Promise(function(resolve) {
						relationshipsControl.onloaded = function() {
							resolve();
						};
					});

					window.addEventListener('resize', relationshipsControl.resize.bind(relationshipsControl));

					return Promise.all([
						clientControlsFactory.createControl("Aras.Client.Frames.Relationships", {relationshipsControl: relationshipsControl}),
						relationshipsControlLoaded
					]);
				})
				.then(function(controls) {
					window.relationships = controls[0];
				});
			};

			const getRelationshipPromise = function() {
				const accordion = document.querySelector('.aras-item-view__relationship-accordion');

				if (!accordion) {
					return Promise.resolve();
				}
				if (!aras.uiGenerateRelationshipsTabbar(window.itemTypeName, window.itemID)) {
					accordion.classList.add('aras-hide');
					return Promise.resolve();
				}
				if (windowStateObject.state === 'tabs off' || windowStateObject.state === 'tabs min') {
					accordion.collapsed = true;

					if (windowStateObject.state === 'tabs min') {
						accordion.querySelector('.aras-accordion__toggle-button').addEventListener('click', function handler() {
							this.removeEventListener('click', handler);
							loadRelationships();
						});
					}
					return Promise.resolve();
				}

				return loadRelationships();
			};

			require(["dojo/parser", "dojo/domReady!"],
				function (parser) {
					const events = {
						onLoadWidgets: document.createEvent("Event"),
						onBeforeLoadWidgets: document.createEvent("Event")
					};

					parser.parse({ noStart: true }).then(function () {
						events.onLoadWidgets.initEvent("loadWidgets", true, false);
						events.onBeforeLoadWidgets.initEvent("beforeLoadWidgets", true, false);
						document.dispatchEvent(events.onBeforeLoadWidgets);
						const tearOffMenuController = new TearOffMenuController({ view: viewType, aras: aras });
						tearOffMenuController.menuFrameReady = true;
						tearOffMenuController.initSvgManager();
						tearOffMenuController.initController();
						window.tearOffMenuController = tearOffMenuController;
					})
					.then(function() {
						const layoutNode = document.getElementById('formTab');
						const options = window.getDefaultOptions(window.itemID, window.itemTypeName);
						window.layout = new CuiLayout(layoutNode, 'ItemView', options);
						return window.layout.init();
					})
					.then(function() {
						const toolbarsNode = document.getElementById('top-toolbars');
						if (toolbarsNode.hasChildNodes()) {
							const itemTypeColor = aras.getItemTypeColor(window.itemTypeName, 'name');
							toolbarsNode.style.borderBottom = '5px solid ' + itemTypeColor;
						}

						return Promise.all([
							clientControlsFactory.createControl("Aras.Client.Frames.TearOffMenu", { tearOffMenuController: window.tearOffMenuController }),
							getRelationshipPromise()
						]);
					})
					.then(function() {
						document.dispatchEvent(events.onLoadWidgets);
					});
				});
		</script>
	}
}
@section header
{
		@RenderSection("header", false)
}
@section load_widgets
{
	@if (IsSectionDefined("load_widgets"))
	{
		@RenderSection("load_widgets")
	}
	else
	{
		<script type="text/javascript">
			(function () {
				var loadWidgetsListener = function () {
					window.windowReadyObjectResolve(window);
					var widgets = dijit.findWidgets(document.getElementById('BorderContainer'));
					widgets.forEach(function(widget) {
						if (widget.startup && !widget.isLoaded) {
							widget.startup();
						}
					});
				};

				document.addEventListener("loadWidgets", loadWidgetsListener);

				// We need to remove listener before the window will be closed
				// because used "dojo.emit" which use own inner events without
				// handlers and IE will try to use handler from another registered event
				window.addEventListener("beforeunload", function () {
					document.removeEventListener("loadWidgets", loadWidgetsListener);
				}, false);
			})();
		</script>
		<base href="@Url.ContentWithSalt("~/scripts/")">
	}
}
@section body
{
	@if (IsSectionDefined("body"))
	{
		@RenderSection("body")
	}
	else
	{
		<iframe id="dimmer_spinner" src="@Url.ContentWithSalt("~/scripts/spinner.html")"></iframe>
		<div id="top" class="aras-item-view__toolbars">
			<div id="top-toolbars"></div>
		</div>
		<div id="BorderContainer" class="aras-flex aras-item-view__container">
			<div id="leftSidebarContentPane" class="aras-item-view__left-sidebar"></div>
			<div id="center" class="aras-flex-grow" style="overflow: auto;">
				@RenderSection("center", false)
			</div>
			<div id="ssvc-splitter" class="aras-splitter aras-hide"></div>
			<div id="rightSidebarContentPane" class="aras-item-view__right-sidebar aras-hide"></div>
		</div>
		<script>
			window.ArasModules.splitter(document.getElementById('ssvc-splitter'));
		</script>
	}
}
