﻿.Container
{
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0);
	z-index: 1000;
	overflow: hidden;
}

.Frame
{
	stroke: rgb(0, 150, 253);
	stroke-width: 2;
	fill: transparent;
	opacity: 0.8;
	float: right;
	display: block;
}

.LabelFrame
{
	stroke: rgb(0, 150, 253);
	stroke-width: 4;
	fill: transparent;
	float: right;
	display: block;
}

.LabelRect
{
	cursor: text;
}

.LabelTop
{
	stroke: black;
	stroke-width: 0.5;
	fill: yellow;
	z-index: 10000;
}

.LabelTriangle
{
	stroke: red;
	stroke-width: 3;
	fill: red;
}

.TextContainer
{
	position: absolute;
	background-color: rgba(255, 255, 255,0);
	fill-opacity: 0.0;
}

.TextFrame
{
	stroke: rgb(0, 150, 253);
	stroke-width: 2;
	fill: rgba(255, 255, 255, 0);
	float: right;
	display: block;
}

.Top
{
	stroke: black;
	stroke-width: 1;
	fill: rgb(0, 150, 253);
}

.Contour
{
	stroke: rgb(128, 128, 128);
	stroke-width: 1;
}

.LabelText
{
	fill: black;
}

.Transparent
{
	fill: rgb(255, 255, 255);
	opacity: 0.0;
	stroke: rgb(255, 255, 255);
}

.ResizableTextArea
{
	border: 0;
	position: absolute;
	background-color: transparent;
	padding: 0;
	text-align: center;
	outline: none;
}

.HiddenTextArea 
{
	display: none;
	white-space: pre;
}

.ResizableTextArea::-ms-clear
{
	display: none;
}
