﻿html,
body {
	height: 100%;
	overflow: hidden;
}

.FeedContainer {
	height: 100%;
	position: relative;
}

.TopContainer {
	padding: 0 10px 0 14px;
}

.MessageContainer {
	/*height is set dynamically in Feed.js*/
	overflow-x: hidden;
	margin: 0 10px 0 14px;
	padding-right: 10px;
}

.MessageContainerParent {
	overflow: hidden;
	display: inline-block;
	width: 100%;
}

.ssvc-filter {
	background-color: #f9eec0;
	overflow: hidden;
	display: none;
	padding: 5px;
	font-size: 13px;
}
.ssvc-filter a {
	font-size: inherit;
	float: right;
	color: #003399;
	text-decoration: underline;
	cursor: pointer;
}
.ssvc-show-more-messages {
	text-align: center;
	width: 100%;
	height: 26px;
	visibility: hidden;
}

.UserInfoContainer {
	position: absolute;
	font-size: 10pt;
	height: 102px;
	border: solid 1px black;
	background-color: white;
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135);
	display: none;
	z-index: 99;
}

.attachMenu {
	position: relative;
	padding-top: 6px;
}

.attach {
	display: inline-block;
	text-decoration: underline;
	cursor: pointer;
}

.attach::before {
	background-image: url('../../../images/Attach.svg');
	background-size: 20px 20px;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-bottom: -6px;
	content: '';
}

.attach::after,
.identitySelector .identityName::after {
	background-image: url('../../../images/arrow-gray-b.svg');
	background-size: 20px 20px;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-bottom: -6px;
	margin-left: -3px;
	content: '';
}

.attach.active,
.identitySelector.active {
	color: #3768b1;
}

.attach.active::after,
.identitySelector.active .identityName::after {
	background-image: url('../../../images/arrow-blue-b.svg');
}

.attachOption {
	display: block;
	position: relative;
	cursor: pointer;
}

div.attachContainer {
	border: 1px solid black;
	background-color: white;
	padding: 5px;
	position: absolute;
	margin-top: 4px;
	left: 2px;
	top: 24px;
	z-index: 1;
}

.attachInput {
	width: 74px;
	cursor: pointer;
	height: 17px;
	opacity: 0;
	padding-top: 3px;
}

.attachLabel {
	position: absolute;
	top: 0;
	left: 0;
	height: 17px;
	width: 75px;
	white-space: nowrap;
	padding-top: 3px;
}

.ssvc-toolbar-addComment .ssvc-toolbar-addComment-container {
	margin-bottom: 5px;
}

.ssvc-toolbar-addComment input[type='button'] {
	float: right;
}

.ssvc-toolbar-addComment .identitySelector {
	float: right;
	cursor: pointer;
	padding-top: 6px;
	display: inline-block;
}

.ssvc-toolbar-addComment .identitySelector.hidden {
	display: none;
}

.ssvc-toolbar-addComment .identitySelector .identityIcon {
	display: inline;
	vertical-align: middle;
	width: 22px;
	height: 22px;
}

.ssvc-toolbar-addComment .identitySelector .identityName {
	text-decoration: underline;
}

.FeedContainer #visibilityIndicatorPopup {
	background-color: white;
	border: 1px solid #959595;
	display: none;
	line-height: 24px;
	padding: 0 6px;
	position: absolute;
	right: 24px; /*MessageContainer's padding-right (10px) + margin-right (14px)*/
}

.aras-hide {
	display: none;
}

.text_rtl_container.sidebarKeyedName {
	direction: rtl;
}

.text_rtl_container .ssvc-message-text {
	direction: rtl;
}

.text_rtl_container .ssvc-message-item-keyedName {
	direction: rtl;
}
