﻿.claro .dijitMenu.sidebarDropDownMenu {
	width:100%;
	background:none;
	border:none;
	border:0;
}
.claro .sidebarPopupMenuItem td.dijitMenuItemIconCell {
	width: 34px;
	padding: 4px;
}

.claro tr.sidebarPopupMenuItem {
	height: 34px;
	margin:0px;
}

.sidebarPopupMenuItem .dijitMenuItemLabel,
.sidebarPopupMenuItem .dijitMenuArrowCell {
	display: none;
}