﻿.filterDialog {
  width: 336px;
  height: 462px;
  outline: none;
}
.aras-button {
  background-size: 18px 18px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.aras-button[data-state='checked'] {
  background-image: url('../../Images/CheckboxSelect.svg');
}
.aras-button[data-state='unchecked'] {
  background-image: url('../../Images/CheckboxUnselect.svg');
}
.aras-button[data-state='indet'] {
  background-image: url('../../Images/CheckboxIndet.svg');
}
.aras-button[data-filter-control-sort-mode='label'] {
  background-image: url('../../Images/SortAlphaOff.svg');
}
.aras-button[data-filter-control-sort-mode='count'] {
  background-image: url('../../Images/SortFreqOff.svg');
}
.filterDialogContentContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.filterDialogContentContainer span[disabled] {
  pointer-events: none;
}
.filterDialogContentContainer[data-filter-sort-mode='count'][data-filter-sort-order='desc'] .active {
  background-image: url('../../Images/SortFreqDescend.svg');
}
.filterDialogContentContainer[data-filter-sort-mode='count'][data-filter-sort-order='asc'] .active {
  background-image: url('../../Images/SortFreqAscend.svg');
}
.filterDialogContentContainer[data-filter-sort-mode='count'] .filterDialogAlphabeticalLabel {
  visibility: hidden !important;
}
.filterDialogContentContainer[data-filter-sort-mode='label'][data-filter-sort-order='desc'] .active {
  background-image: url('../../Images/SortAlphaDescend.svg');
}
.filterDialogContentContainer[data-filter-sort-mode='label'][data-filter-sort-order='asc'] .active {
  background-image: url('../../Images/SortAlphaAscend.svg');
}
.filterDialogAlphabeticalLabel {
  width: 16px;
  color: #999999;
  font-size: 14px;
  margin-right: 8px;
  text-align: center;
  visibility: hidden;
}
.filterItemOptionContainer.firstLetterVisible .filterDialogAlphabeticalLabel {
  visibility: visible;
}
.filterDialogOptionsContainer {
  width: 100%;
  display: flex;
  margin-top: 6px;
  overflow-y: auto;
  flex-wrap: nowrap;
  flex-direction: column;
}
.aras-button:not([disabled]).active {
  background-color: #e2e6f3;
  border-color: #777a9c;
  box-shadow: none;
}
.filterDialogSearchContainer {
  width: 100%;
}
.filterDialogSearchContainer > * {
  float: left;
  margin-right: 7px;
}
.filterDialogSearchContainer > span:last-child {
  margin-right: 0;
}
.filterDialog2SearchTextBoxContainer {
  position: relative;
}
.filterDialog2SearchTextBoxContainer input {
  width: 192px;
}
.hidden {
  display: none !important;
}
.filtersPanelTextBox::-ms-clear,
.filterDialog2SearchTextBox::-ms-clear {
  width: 0;
  height: 0;
  display: none !important;
}
.es-message {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}
.es-message.info {
  color: #1b1b98;
  padding: 25px 0;
}
