﻿.resultItemContainer {
  margin: 12px 0;
  display: flex;
  position: relative;
  background-color: #fff;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.resultItemContainer:first-child {
  margin-top: 0;
}
.resultItemSubContainer {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  align-items: stretch;
  border-left: 8px solid;
  justify-content: space-between;
}
.resultItemSubContainer > .highlightsContainer {
  clear: both;
  padding-bottom: 0;
  margin-left: 10px;
}
.headerContainer {
  display: flex;
  padding: 12px;
  word-wrap: break-word;
  box-sizing: border-box;
  flex-direction: column;
}
.headerMiddleContainer > span {
  color: #1976d2;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
  text-decoration: underline;
}
.headerMiddleContainer > span > img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-right: 4px;
  vertical-align: middle;
}
.headerMiddleContainer .itemState {
  top: 1px;
  color: #777777;
  font-size: 12px;
  line-height: 14px;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  text-decoration: none;
}
.childItemContainer {
  margin-top: 12px;
}
.childItemContainer.childItem .headerMiddleContainer > span {
  font-size: 16px;
  line-height: 24px;
}
.childItemContainer.childItem .headerMiddleContainer .itemState {
  top: 0;
}
.childItemContainer .headerContainer {
  padding: 0;
}
.childItemContainer .headerMiddleContainer > img {
  width: 20px;
  height: 20px;
}
.propertyLabel {
  font-size: 12px;
  color: #777777;
}
.propertyText {
  font-size: 14px;
  color: #333333;
}
.propertyText.linkButton {
  text-decoration: none;
  color: #333333;
}
.propertyContainer {
  margin-top: 6px;
}
.highlightContainer {
  margin-top: 6px;
}
.highlightContainer > div:nth-child(1) {
  font-size: 12px;
  color: #777777;
}
.highlightContainer > div:nth-child(2) {
  font-size: 14px;
  color: #333333;
}
.toggleChildResults {
  cursor: pointer;
  font-size: 12px;
  margin-top: 7px;
  font-weight: bold;
  position: relative;
  background-size: 16px 16px;
  background-repeat: no-repeat;
}
.toggleChildResults::before {
  top: 3px;
  content: '';
  width: 16px;
  height: 16px;
  margin-right: 2px;
  position: relative;
  display: inline-block;
  transform: rotate(180deg);
  background-image: url('../../Images/Arrow.svg');
}
.childItemsContainerCollapsed > .childItem:not(:first-child) {
  display: none;
}
.childItemsContainerCollapsed .toggleChildResults::before {
  content: '';
  width: 16px;
  height: 16px;
  display: inline-block;
  transform: rotate(0deg);
  background-image: url('../../Images/Arrow.svg');
}
.resultItemName {
  color: #303f9f;
  font-size: 16px;
  margin-top: 2px;
}
.detailsPanel {
  width: 192px;
  display: none;
  flex-shrink: 0;
  font-size: 12px;
  margin-left: 10px;
  padding: 10px 8px;
  color: #777777;
  background-color: #eeeeee;
}
.detailsPanel .modifiedMessage {
  margin-top: 8px;
}
.detailsPanel > .itemType {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
}
.detailsPanel > .itemState {
  margin-bottom: 8px;
}
.detailsPanel > .propsContainer > * {
  word-wrap: break-word;
  margin-top: 8px;
}
.detailsPanel .propValue {
  font-size: 14px;
  color: #333333;
}
.detailsPanelVisible > .detailsPanel {
  display: block;
}
.detailsPanelVisible > .toggleDetailsButton > .aras-button__icon {
  transform: rotate(90deg);
}
.toggleDetailsButton {
  right: 0;
  width: 32px;
  height: 32px;
  position: absolute;
}
.toggleDetailsButton > .aras-button__icon {
  width: 100%;
  height: 100%;
  transform: rotate(270deg);
}
