﻿.searchPanelSearchButton {
  left: -1px;
  height: 32px;
  display: block;
  font-weight: bold;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  padding: 5px 8px 7px 29px;
  background-position: 6px 6px !important;
  background-image: url(../../Images/ExecuteSearchWhite.svg);
}
.searchPanelTextBox {
  flex-grow: 1;
  border-right: 0;
  border-radius: 2px 0 0 2px;
}
.searchPanelQueryTextTextBox {
  width: 100%;
  margin-right: 8px;
  display: inline-flex;
}
.searchPanelQueryTextTextBox > input::-ms-clear {
  display: none;
}
.searchPanelFiltersToolbar {
  position: relative;
  height: 25px;
  margin-top: 16px;
}
.searchPanelFilterOptionsContainer {
  position: absolute;
  left: 0;
  width: calc(100% - 34px);
  height: 100%;
  overflow: hidden;
}
.searchPanelShowFiltersButton {
  position: absolute;
  right: 10px;
  height: 18px;
  width: 14px;
  border: 1px solid #868686;
  cursor: pointer;
  visibility: hidden;
}
.searchPanelShowFiltersButton > img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.searchPanelFilterOptionContainer {
  display: inline-block;
  height: 15px;
  margin-left: 8px;
  padding: 5px 6px;
  line-height: 11px;
  background-color: #dde7f5;
}
.searchPanelFilterOptionContainer:nth-child(1) {
  margin-left: 0;
}
.searchPanelFilterOptionContainer > span {
  vertical-align: middle;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #444444;
}
.searchPanelFilterOptionContainer > img {
  max-width: 12px;
  max-height: 12px;
  vertical-align: middle;
  cursor: pointer;
}
.searchSyntaxHelpTitleContainer {
  display: flex;
  justify-content: space-between;
}
.searchSyntaxHelpItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.searchSyntaxHelpTitle {
  font-size: 26px;
  margin-bottom: 20px;
}
.searchSyntaxHelpItem {
  width: 50%;
  display: flex;
}
.searchSyntaxHelpSymbol {
  width: 70px;
  padding: 8px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.searchSyntaxHelpMeaning {
  padding: 8px;
  font-size: 14px;
  width: calc(100% - 86px);
}
.searchSyntaxHelpMeaningTitle {
  font-size: 16px;
  font-weight: bold;
}
.searchSyntaxHelpMeaningDescription > span {
  color: #1e90ff;
}
.searchSyntaxHelpMeaningHint {
  font-size: 90%;
  color: #777;
}
.syntaxHelpTooltip {
  padding: 0;
  height: 100%;
  outline: none;
}
.syntaxHelpTooltip .dijitTooltipContents {
  display: flex;
  overflow: auto;
  flex-direction: column;
  justify-content: center;
}
.syntaxHelpTooltip .dijitTooltipContainer {
  background: rgba(255, 255, 255, 0.9);
}
.syntaxHelpTooltip .aras-dialog__maximize-button,
.syntaxHelpTooltip .aras-dialog__close-button {
  width: 40px;
  height: 40px;
}
.syntaxHelpTooltip .aras-icon-close::before,
.syntaxHelpTooltip .aras-icon-close::after {
  width: 3px;
}
.searchPanelControlsToolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
