﻿.effs-button_disabled {
  pointer-events: none;
  opacity: 0.4;
  box-shadow: none;
}
.effs-button-primary_disabled:not([disabled]):focus {
  background-color: #182bfb;
}
.effs-dialog__item {
  margin: 0 16px;
}
.effs-dialog__item:last-of-type {
  margin-bottom: 16px;
}
.effs-dialog__item_margin-top_regular {
  margin-top: 12px;
}
.effs-dialog__item_margin-top_large {
  margin-top: 20px;
}
.effs-dialog__item_height_full {
  height: 100%;
  min-height: 0;
  display: flex;
}
.effs-dialog__item_flex-alignment_end {
  align-self: flex-end;
}
.effs-dialog__buttons {
  display: flex;
}
.effs-dialog__buttons .aras-button {
  min-width: 80px;
}
.effs-dialog__buttons .aras-button__text {
  width: 100%;
}
.effs-dialog__buttons .aras-button:not(:first-child) {
  margin-left: 8px;
}
.effs-criteria-dialog__grid .aras-grid-header {
  border-top-width: 0;
}
.effs-criteria-dialog__grid .aras-grid-row-levelpad {
  display: none;
}
.effs-criteria-dialog__grid .aras-form-input__wrapper.aras-form-input_invalid {
  width: 100%;
}
.effs-criteria-dialog__grid .aras-grid-body-boundary:not(.aras-grid-body-boundary_frozen) .aras-grid-row {
  border: 1px solid #dddddd;
}
.effs-criteria-dialog__grid .aras-grid-head-cell {
  border-width: 1px;
}
.effs-criteria-dialog__grid .aras-treegrid-cell-container {
  height: auto;
}
.effs-no-overflow {
  overflow: hidden;
}
.groupContent {
  white-space: pre-wrap;
}
.effs-expression-item-grid__item_margin-top_regular {
  margin-top: 12px;
}
.effs-expression-item-grid__title {
  padding-left: 0;
}
.effs-relationship-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.effs-relationship-container__pane-container {
  height: 100%;
}
.effs-relationship-container__pane-container-right {
  position: relative;
  width: 40%;
}
.effs-relationship-container__pane-container_min-width-100 {
  min-width: 100px;
}
.effs-relationship-container__pane-content {
  width: 100%;
  height: 100%;
}
.effs-relationship-container__pane-content-iframe {
  border: 0;
}
.effs-relationship-container > .aras-splitter.aras-splitter_vertical {
  width: 6px;
  margin-left: 6px;
  margin-right: 12px;
}
.effs-relationship-container > .aras-splitter.aras-splitter_vertical:before,
.effs-relationship-container > .aras-splitter.aras-splitter_vertical > .aras-splitter-ghost:before {
  display: none;
}
.effs-expression-editor__editor-frame {
  width: 100%;
  height: 100%;
  border: 0;
}
.effs-aras-grid-row-cell-text-icon {
  display: flex;
  align-items: center;
  height: 100%;
}
.effs-aras-grid-row-cell-text-icon_icon-left {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.effs-aras-grid-row-cell-text-icon_icon-left > .effs-aras-grid-row-cell-text-icon__icon-container {
  margin-right: 2px;
}
.effs-aras-grid-row-cell-text-icon_icon-right {
  flex-direction: row;
  justify-content: space-between;
}
.effs-aras-grid-row-cell-text-icon:hover .effs-aras-grid-row-cell-text-icon__icon-container_hidden {
  display: flex;
}
.effs-aras-grid-row-cell-text-icon__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.effs-aras-grid-row-cell-text-icon__icon-container {
  display: flex;
  width: 24px;
  height: 24px;
  background-color: #eeeeee;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.effs-aras-grid-row-cell-text-icon__icon-container_hidden {
  display: none;
}
.effs-aras-grid-row-cell-text-icon__icon {
  width: 12px;
  height: 12px;
}
.effs-toolbar-label {
  margin-right: 4px;
}
.effs-toolbar-item-field {
  display: inline-block;
  font-size: 8pt;
  vertical-align: middle;
  padding-bottom: 2px;
  padding-top: 3px;
  margin-right: 1px;
  width: 130px;
}
.effs-definition-editor {
  width: calc(100% - 3px);
  height: calc(100% - 3px);
  border: 1px solid #aaaaaa;
  background-color: #fbfbfb;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 1px 1px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  overflow-x: hidden;
  overflow-y: auto;
}
.effs-definition-editor:not(.effs-definition-editor_disabled):hover {
  background-color: #ffffff;
  border-color: #999999;
}
.effs-definition-editor:not(.effs-definition-editor_disabled):active,
.effs-definition-editor:not(.effs-definition-editor_disabled):focus,
.effs-definition-editor:not(.effs-definition-editor_disabled):focus-within {
  background-color: #ffffff;
  border-color: #333380;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.effs-definition-editor__message {
  font: normal 1rem Roboto, 'Noto Sans JP', Arial, sans-serif;
  font-size: 12px;
  color: #333333;
  padding: 8px 4px;
}
.effs-definition-editor .aras-rule-editor {
  margin: 4px;
  border-radius: 2px;
}
.effs-definition-editor_disabled {
  box-shadow: none;
}
