﻿span[widgetid='dr_showForm'] > span > span:focus,
span[widgetid='dr_showGrid'] > span > span:focus {
  outline: none;
}
.dr-grid-container {
  height: 100%;
}
.dr-grid-container_hidden {
  visibility: hidden;
}
.dr-grid-container .dr-grid .aras-grid-active-cell {
  display: none;
}
.dr-grid-container .dr-grid .aras-grid-active-cell_editing {
  display: block;
}
.dr-grid-container .dr-grid .aras-grid-row-cell__referencing-glyph {
  position: relative;
}
.dr-grid-container .dr-grid .aras-grid-row-cell__referencing-glyph:before {
  background: url('../images/ReferenceGlyph.svg') no-repeat 0 0 / cover;
  content: '';
  width: 1.67rem;
  height: 1.67rem;
  position: absolute;
  top: 2px;
  left: 0;
}
.dr-grid-container .dr-grid .aras-grid-row-cell__icon {
  display: inline-block;
  margin-right: 3px;
  width: 1.83rem;
  height: 1.83rem;
  vertical-align: middle;
}
.destination-tree .aras-nav li {
  overflow: hidden;
  display: flex;
}
.destination-tree .aras-nav li > img {
  height: 100%;
  flex-grow: 0;
  padding-left: 5px;
}
.destination-tree-container {
  padding: 0 2px 0 6px;
}
.destination-tree-container .itemtype-info {
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 2.3333333rem;
  height: 2.3333333rem;
  padding: 1px;
  border-bottom: 1px solid #d4d4d4;
}
.destination-tree-container .itemtype-info img {
  height: 2.33333333rem;
  width: 1.8rem;
  flex-grow: 0;
  padding-left: 5px;
  vertical-align: middle;
  padding-right: 5px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  max-height: 2.33333333rem;
}
.destination-tree-container .itemtype-info .arrow {
  width: 1rem;
}
.relationship-info {
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 2.3333333rem;
  height: 2.3333333rem;
  padding: 1px;
  border-bottom: 1px solid #d4d4d4;
}
.relationship-info img {
  height: 2.33333333rem;
  width: 1.8rem;
  flex-grow: 0;
  padding-left: 5px;
  vertical-align: middle;
  padding-right: 5px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  max-height: 2.33333333rem;
}
.relationship-info .name {
  font-weight: bold;
  padding-right: 3px;
}
.spinner {
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 2px;
  right: 2px;
}
.spinner .double-bounce1,
.spinner.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #cc1c1c;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: sk-bounce 2s infinite ease-in-out;
}
.spinner .double-bounce2 {
  animation-delay: -1s;
}
@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
