﻿.toggled-on {
  color: #333333;
  background-color: #dce3f9;
  border-color: #333380;
  box-shadow: none;
}
.toggled-on:not([disabled]):hover,
.toggled-on:not([disabled]):focus {
  background-color: #e2e6f3;
  border-color: #333380;
  box-shadow: none;
}
.toggled-on:not([disabled]):active {
  background-color: #e2e6f3;
  border-color: #777a9c;
}
.iconImgStyle {
  width: 1.333rem !important;
  height: 1.333rem !important;
  vertical-align: middle;
}
.dojo-grid-arrow-button,
.claro #gridTD .dojoxGridHeader .dojoxGridCellOver:not(.dojoGridSelected) .aras-grid-head-cell-sort {
  top: 2px;
  margin-left: 4px;
  padding-left: 10px;
  display: inline-block;
  vertical-align: top;
  line-height: 1rem;
}
.claro #gridTD:not(.extended-properties-grid) .dojoxGridHeader .dojoxGridCell {
  padding: 0 !important;
}
.claro #gridTD:not(.extended-properties-grid) .dojoxGridHeader .dojoxGridCell .dojoxGridColCaption {
  padding: 0 0 0 0 !important;
}
.claro #gridTD:not(.extended-properties-grid) .dojoxGridHeader .dojoxGridCell .dojoxGridColCaption::before {
  content: '';
  padding-left: 7px !important;
}
.claro #gridTD:not(.extended-properties-grid) .dojoxGridHeader .dojoxGridCell .dojoxGridColCaption::after {
  content: '';
  padding-right: 7px !important;
}
.claro #gridTD:not(.extended-properties-grid) .dojoxGridContent .dojoxGridCell {
  padding: 0 0 0 0 !important;
  padding-right: 1px !important;
}
.claro #gridTD:not(.extended-properties-grid) .dojoxGridContent .dojoxGridCell::before {
  content: '';
  padding-left: 8px !important;
}
.claro #gridTD:not(.extended-properties-grid) .dojoxGridContent .dojoxGridCell::after {
  content: '';
  padding-right: 7px !important;
}
.claro #gridTD:not(.extended-properties-grid) .dojoxGridContent .dojoxGridCell .dijitTextBox {
  max-width: calc(100% - 16px);
}
.claro #gridTD:not(.extended-properties-grid) .dojoxGridContent .dojoxGridCell .dojoxCheckedMultiSelect,
.claro #gridTD:not(.extended-properties-grid) .dojoxGridContent .dojoxGridCell .dijitComboBox {
  max-width: calc(100% - 16px);
  margin-left: -8px;
  padding-left: 8px;
}
.claro #gridTD:not(.extended-properties-grid) .dojoxGridContent .dojoxGridCell > div:not([class]) {
  display: inline-block;
  max-width: calc(100% - 16px);
  vertical-align: middle;
}
.claro #gridTD:not(.extended-properties-grid) .dojoxGridContent .dojoxGridCell > div:not([class]) .dijitTextBox {
  max-width: 100%;
}
.claro #gridTD:not(.extended-properties-grid) .dojoxGridContent .dojoxGridCell > div:not([class]) .dojoxCheckedMultiSelect,
.claro #gridTD:not(.extended-properties-grid) .dojoxGridContent .dojoxGridCell > div:not([class]) .dijitComboBox {
  max-width: 100%;
}
.claro #gridTD:not(.extended-properties-grid) .dojoxGridContent .dojoxGridCell > div:not([class]) .aras-filter-list__input {
  margin: 0;
  font: normal 1rem Roboto, 'Noto Sans JP', Arial, sans-serif;
  padding-left: 0;
}
.claro #gridTD:not(.extended-properties-grid) .dojoxGridContent .dojoxGridCell.dojoxRelationshipCell + :not(.dojoxRelationshipCell) {
  padding: 0 0 0 0 !important;
}
.claro #gridTD:not(.extended-properties-grid) .dojoxGridContent .dojoxGridCell.dojoxRelationshipCell + :not(.dojoxRelationshipCell)::before {
  content: '';
  padding-left: 7px !important;
}
.claro #gridTD:not(.extended-properties-grid) .dojoxGridContent .dojoxGridCell.dojoxRelationshipCell + :not(.dojoxRelationshipCell)::after {
  content: '';
  padding-right: 7px !important;
}
.claro #gridTD:not(.extended-properties-grid) .dojoxGridContent .dojoxGridCell:first-child {
  padding: 0 0 0 0 !important;
}
.claro #gridTD:not(.extended-properties-grid) .dojoxGridContent .dojoxGridCell:first-child::before {
  content: '';
  padding-left: 7px !important;
}
.claro #gridTD:not(.extended-properties-grid) .dojoxGridContent .dojoxGridCell:first-child::after {
  content: '';
  padding-right: 7px !important;
}
.claro #gridTD:not(.extended-properties-grid) .dojoxGridContent .dojoxGridCell.dojoxGridCellFocus {
  padding: 0 0 0 0 !important;
}
.claro #gridTD:not(.extended-properties-grid) .dojoxGridContent .dojoxGridCell.dojoxGridCellFocus::before {
  content: '';
  padding-left: 7px !important;
}
.claro #gridTD:not(.extended-properties-grid) .dojoxGridContent .dojoxGridCell.dojoxGridCellFocus::after {
  content: '';
  padding-right: 7px !important;
}
.claro #gridTD:not(.extended-properties-grid) .dojoxGridContent .dojoxGridCell.dojoxGridCellFocus + :not(.dojoxRelationshipCell) {
  padding: 0 0 0 0 !important;
  padding: 0 !important;
}
.claro #gridTD:not(.extended-properties-grid) .dojoxGridContent .dojoxGridCell.dojoxGridCellFocus + :not(.dojoxRelationshipCell)::before {
  content: '';
  padding-left: 7px !important;
}
.claro #gridTD:not(.extended-properties-grid) .dojoxGridContent .dojoxGridCell.dojoxGridCellFocus + :not(.dojoxRelationshipCell)::after {
  content: '';
  padding-right: 7px !important;
}
.claro #gridTD:not(.extended-properties-grid) .dojoxGridRow tr .dojoxRelationshipCell {
  padding: 0 0 0 0 !important;
  padding: 0 !important;
}
.claro #gridTD:not(.extended-properties-grid) .dojoxGridRow tr .dojoxRelationshipCell::before {
  content: '';
  padding-left: 7px !important;
}
.claro #gridTD:not(.extended-properties-grid) .dojoxGridRow tr .dojoxRelationshipCell::after {
  content: '';
  padding-right: 7px !important;
}
.claro #gridTD:not(.extended-properties-grid) .dojoxGrid .dojoxGridContent.dojoGridEditable td.dojoxGridCellFocus.dojoxGridCell,
.claro #gridTD:not(.extended-properties-grid) .dojoxGrid .dojoxGridContent td.dojoxGridCellFocus.dojoxGridCell {
  padding: 0 !important;
}
.claro #gridTD .dojoxGridHeader {
  border-top: none !important;
}
.claro #gridTD .dojoxGridHeader table {
  text-align: left !important;
}
.claro #gridTD .dojoxGridHeader .dijitButtonText {
  padding: 0 3px 0 8px;
}
.claro #gridTD .dojoxGridHeader .dijitButtonText > img {
  margin-top: 3px;
  width: 1.333rem !important;
  height: 1.333rem !important;
  vertical-align: middle;
}
.claro #gridTD .dojoxGridHeader table.dojoxGridRowTable {
  border-right-width: 0;
}
.claro #gridTD .dojoxGridHeader table.dojoxGridRowTable tbody > :first-child {
  height: 32px;
}
.claro #gridTD .dojoxGridHeader table.dojoxGridRowTable .dojoDndContainer,
.claro #gridTD .dojoxGridHeader table.dojoxGridRowTable .dojoDndContainerOver {
  background-color: #eeeeee !important;
}
.claro #gridTD .dojoxGridHeader .dojoGridSelected {
  background-color: #dddddd;
  background-clip: padding-box;
}
.claro #gridTD .dojoxGridHeader .dojoGridSelected.dojoxGridCell {
  color: #333333;
}
.claro #gridTD .dojoxGridHeader .dojoxGridCell {
  font: bold 1rem Roboto, 'Noto Sans JP', Arial, sans-serif;
  color: #555555;
  vertical-align: middle;
  padding: 0 8px !important;
  border: 1px solid #999999 !important;
}
.claro #gridTD .dojoxGridHeader .dojoxGridCell .dojoxGridColCaption {
  display: flex;
  text-align: left;
}
.claro #gridTD .dojoxGridHeader .dojoxGridCell .dojoImgClaimWrapper .dojoImgClaim {
  width: 1.333rem !important;
  height: 1.333rem !important;
  vertical-align: middle;
}
.claro #gridTD .dojoxGridHeader .dojoxGridCellOver {
  background-color: #e7e9ee !important;
  background-clip: padding-box;
}
.claro #gridTD .dojoxGridHeader .dojoxGridCellOver:not(.dojoGridSelected) .aras-grid-head-cell-sort::after {
  background-color: #cccccc;
}
.claro #gridTD .dojoxGridHeader .dojoxGridCellOver:not(.dojoGridSelected) .aras-grid-head-cell-sort::before {
  border-bottom-color: #cccccc;
}
.claro #gridTD .dojoxGridContent.dojoGridEditable .dojoxGridRow tr .dojoxRelationshipCell {
  border-left-color: #555555 !important;
  border-bottom-color: #555555 !important;
}
.claro #gridTD .dojoxGridContent.dojoGridEditable .dojoxGridRow tr .dojoxRelationshipCell:last-child {
  border-right-color: #555555 !important;
}
.claro #gridTD .dojoxGridContent.dojoGridEditable.dojoxGridContent .dojoxGridCell.dojoxRelationshipCell + :not(.dojoxRelationshipCell):not(.dojoxGridCellFocus) {
  border-left-color: #555555 !important;
}
.claro #gridTD .dojoxGridContent.dojoGridEditable .dojoxGridRowSelected.dojoxGridRowEditing .dojoxGridRowTable tr .dojoxGridCell.dojoxGridCellFocus:not([bginvert='false']),
.claro #gridTD .dojoxGridContent.dojoGridEditable .dojoxGridRowOver.dojoxGridRowSelected.dojoxGridRowEditing .dojoxGridRowTable tr .dojoxGridCell.dojoxGridCellFocus:not([bginvert='false']) {
  background-color: #ffffff !important;
}
.claro #gridTD .dojoxGridContent .dojoxGridCell {
  font: normal 1rem Roboto, 'Noto Sans JP', Arial, sans-serif;
  color: #333333;
  border-right: 0 !important;
  padding: 0 8px 0 9px !important;
  background-color: #f7f7f7;
  position: static;
  height: 32px;
}
.claro #gridTD .dojoxGridContent .dojoxGridCell.dojoxRelationshipCell + :not(.dojoxRelationshipCell) {
  border-left: 1px solid #999999 !important;
  padding: 0 8px !important;
}
.claro #gridTD .dojoxGridContent .dojoxGridCell img {
  width: 1.333rem !important;
  height: 1.333rem !important;
  vertical-align: middle;
}
.claro #gridTD .dojoxGridContent .dojoxGridCell:first-child {
  border-left: 1px solid #cccccc !important;
  padding: 0 8px !important;
}
.claro #gridTD .dojoxGridContent .dojoxGridCell:last-child {
  border-right: 1px solid #cccccc !important;
}
.claro #gridTD .dojoxGridContent .dojoxGridCell.dojoxGridCellFocus {
  padding-right: 0 !important;
}
.claro #gridTD .dojoxGridContent .dojoxGridCell.dojoxGridCellFocus + :not(.dojoxRelationshipCell) {
  padding: 0 8px !important;
}
.claro #gridTD .dojoxGridContent .dojoxGridCell .externalWidget {
  position: relative;
  display: inline;
}
.claro #gridTD .dojoxGridRow tr .dojoxRelationshipCell {
  background-clip: padding-box;
  border-left: 1px solid #999999 !important;
  border-bottom: 1px solid #999999 !important;
  padding: 0 8px !important;
  background-color: #ffffff !important;
}
.claro #gridTD .dojoxGridRow tr .dojoxRelationshipCell a {
  background-color: #ffffff !important;
}
.claro #gridTD .dojoxGridRow tr .dojoxRelationshipCell:last-child {
  border-right: 1px solid #999999 !important;
}
.claro #gridTD .dojoxGridRowSelected .dojoxGridRowTable tr .dojoxGridCell:not([bginvert='false']),
.claro #gridTD .dojoxGridRowSelected .dojoxGridRowTable tr .dojoxGridCell:not([bginvert='false']) a {
  background-color: #fef7af !important;
}
.claro #gridTD .dojoxGridRowOver .dojoxGridRowTable tr .dojoxGridCell:not([bginvert='false']),
.claro #gridTD .dojoxGridRowOver .dojoxGridRowTable tr .dojoxGridCell:not([bginvert='false']) a {
  background-color: #fefbd7 !important;
}
.claro #gridTD .dojoxGridRowOver.dojoxGridRowSelected .dojoxGridRowTable tr .dojoxGridCell:not([bginvert='false']),
.claro #gridTD .dojoxGridRowOver.dojoxGridRowSelected .dojoxGridRowTable tr .dojoxGridCell:not([bginvert='false']) a {
  background-color: #fdf386 !important;
}
.claro #gridTD .dojoxGrid .dojoxGridContent.dojoGridEditable .dojoxGridRowTable,
.claro #gridTD .dojoxGrid .dojoxGridContent .dojoxGridRowTable {
  border-collapse: collapse;
}
.claro #gridTD .dojoxGrid .dojoxGridContent.dojoGridEditable td.dojoxGridCellFocus.dojoxGridCell,
.claro #gridTD .dojoxGrid .dojoxGridContent td.dojoxGridCellFocus.dojoxGridCell {
  border-collapse: separate;
  box-shadow: 0 -1px 0 #0303b0;
  border: 1px solid #0303b0 !important;
  border-top: none !important;
  padding: 0 8px !important;
}
.claro #gridTD .dojoxGrid .dojoxGridContent.dojoGridEditable .dojoxGridRow:last-child td.dojoxGridCellFocus.dojoxGridCell,
.claro #gridTD .dojoxGrid .dojoxGridContent .dojoxGridRow:last-child td.dojoxGridCellFocus.dojoxGridCell {
  box-shadow: 0 -1px 0 #0303b0;
}
.claro #gridTD .dojoxGrid .dojoxGridContent.dojoGridEditable .dojoxGridRow:first-child td.dojoxGridCellFocus.dojoxGridCell,
.claro #gridTD .dojoxGrid .dojoxGridContent .dojoxGridRow:first-child td.dojoxGridCellFocus.dojoxGridCell {
  box-shadow: inset 0 1px 0 #0303b0;
}
.claro #gridTD .dojoxGrid .dojoxGridContent.dojoGridEditable:last-child,
.claro #gridTD .dojoxGrid .dojoxGridContent:last-child {
  border-right-color: #0303b0 !important;
}
