﻿.toggled-on {
  color: #333333;
  background-color: #dce3f9;
  border-color: #333380;
  box-shadow: none;
}
.toggled-on:not([disabled]):hover,
.toggled-on:not([disabled]):focus {
  background-color: #e2e6f3;
  border-color: #333380;
  box-shadow: none;
}
.toggled-on:not([disabled]):active {
  background-color: #e2e6f3;
  border-color: #777a9c;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.aras-icon-close,
.aras-icon-maximize,
.aras-icon-minimize,
.aras-icon-hamburger,
.aras-icon-checked,
.aras-icon-radio,
.aras-icon-arrow,
.aras-icon-vertical-ellipsis {
  position: relative;
}
.aras-icon-close:before,
.aras-icon-maximize:before,
.aras-icon-minimize:before,
.aras-icon-hamburger:before,
.aras-icon-checked:before,
.aras-icon-radio:before,
.aras-icon-arrow:before,
.aras-icon-vertical-ellipsis:before,
.aras-icon-close:after,
.aras-icon-maximize:after,
.aras-icon-minimize:after,
.aras-icon-hamburger:after,
.aras-icon-checked:after,
.aras-icon-radio:after,
.aras-icon-arrow:after,
.aras-icon-vertical-ellipsis:after {
  content: '';
  display: block;
  position: absolute;
}
.aras-icon-close::before,
.aras-icon-close::after {
  width: 2px;
  height: 85%;
  top: 9%;
  left: 46%;
  background-color: #ffffff;
}
.aras-icon-close::before {
  transform: rotate(45deg);
}
.aras-icon-close::after {
  transform: rotate(-45deg);
}
.aras-icon-maximize::before {
  width: calc(50% - 2px);
  height: calc(50% - 2px);
  left: 50%;
  top: 50%;
  border: 2px solid #777777;
  position: relative;
  transform: translate(-50%, -50%);
}
.aras-icon-minimize::before,
.aras-icon-minimize::after {
  width: 29%;
  height: 29%;
  left: 42%;
  top: 58%;
  border: 2px solid #777777;
  position: relative;
  transform: translate(-50%, -50%);
}
.aras-icon-minimize::before {
  background-color: #ffffff;
  z-index: 1;
}
.aras-icon-minimize::after {
  transform: translate(-15%, -185%);
}
.aras-icon-hamburger::before,
.aras-icon-hamburger::after {
  width: 80%;
  left: 10%;
}
.aras-icon-hamburger::before {
  top: 21%;
  height: 50%;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}
.aras-icon-hamburger::after {
  top: calc( 46%  +  1px );
  border-top: 2px solid #ffffff;
}
.aras-icon-checked::before {
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-color: #303f9f;
  width: 27%;
  height: 54%;
  top: 5%;
  left: 30%;
  transform: rotate(45deg);
}
.aras-icon-radio::before {
  border-radius: 50%;
  background-color: #3668b1;
  width: 35%;
  height: 35%;
  top: calc(50% - 17.5% );;
  left: calc(50% - 17.5% );;
  transform: rotate(45deg);
}
.aras-icon-minus {
  position: relative;
  border: 1px solid #8a8a8a;
}
.aras-icon-minus:before,
.aras-icon-minus:after {
  content: '';
  display: block;
  position: absolute;
}
.aras-icon-minus::before {
  border-top: 1px solid #8a8a8a;
  left: 15%;
  top: calc(50% -  0.5px );
  width: 70%;
}
.aras-icon-plus {
  position: relative;
  border: 1px solid #8a8a8a;
}
.aras-icon-plus:before,
.aras-icon-plus:after {
  content: '';
  display: block;
  position: absolute;
}
.aras-icon-plus::before {
  border-top: 1px solid #8a8a8a;
  left: 15%;
  top: calc(50% -  0.5px );
  width: 70%;
}
.aras-icon-plus::after {
  border-left: 1px solid #8a8a8a;
  height: 70%;
  width: 0;
  left: calc(50% -  0.5px );
  top: 15%;
}
.aras-icon-loading {
  border-radius: 50%;
  width: 70%;
  height: 70%;
  border: 1px solid transparent;
  border-top-color: #8a8a8a;
  animation: spin 750ms infinite linear;
}
.aras-icon-spinner {
  border-radius: 50%;
  border: 1px solid #cc2036;
  border-top-color: transparent;
  animation: spin 750ms infinite linear;
}
.aras-icon-error {
  display: flex;
  border-radius: 50%;
  border: 1px solid #cc2036;
  color: #cc2036;
  justify-content: center;
  align-content: center;
}
.aras-icon-error:after {
  content: '!';
  line-height: 1;
}
.aras-icon-arrow:before {
  width: 0;
  height: 0;
  border: 0.4rem solid transparent;
  border-left-color: #ffffff;
  border-right: 0;
}
.aras-icon-arrow_down:before {
  transform: rotate(90deg);
}
.aras-icon-arrow_up:before {
  transform: rotate(-90deg);
}
.aras-icon-arrow_left:before {
  transform: rotate(180deg);
}
.aras-icon-arrow_down:before,
.aras-icon-arrow_left:before {
  top: calc(50% - 0.4rem);
  left: calc(50% - 0.4rem/2);
}
.aras-icon-arrow_up:before,
.aras-icon-arrow_right:before {
  top: calc(50% - 0.4rem);
  left: calc(50% - 0.4rem/2);
}
.aras-icon-long-arrow {
  position: relative;
}
.aras-icon-long-arrow:before {
  content: '';
  transform: rotateY(60deg);
  position: absolute;
  top: -6px;
  left: -3px;
  border: 6px solid transparent;
  border-bottom-color: #1b1b98;
}
.aras-icon-long-arrow:after {
  content: '';
  height: 9px;
  width: 2px;
  position: absolute;
  top: 4px;
  left: 2px;
  background-color: #1b1b98;
}
.aras-icon-long-arrow_down:before {
  border-bottom-color: transparent;
  border-top-color: #1b1b98;
  top: 7px;
}
.aras-icon-long-arrow_down:after {
  top: 0;
}
.aras-icon-vertical-ellipsis {
  width: 0.75rem;
  height: 1.6667rem;
  padding: 0;
}
.aras-icon-vertical-ellipsis:before,
.aras-icon-vertical-ellipsis:after {
  width: 0.25rem;
  left: 0.25rem;
}
.aras-icon-vertical-ellipsis:before {
  top: 13%;
  height: 46%;
  border-top: 0.25rem solid #fff;
  border-bottom: 0.25rem solid #fff;
}
.aras-icon-vertical-ellipsis:after {
  top: calc(38% + 0.0833rem);
  border-top: 0.25rem solid #fff;
}
.aras-icon_grayscale svg {
  filter: grayscale(100%);
}
.aras-icon_grayscale svg use {
  filter: url('#GrayFilter');
  filter: initial;
  -webkit-filter: initial;
}
