@{
    Layout = "Shared/_tabItemViewLayout.cshtml";
}
@section extra_header
{
    <script type="text/javascript" src="@Url.ContentWithSalt("~/Modules/aras.innovator.DomainAccessControl/scripts/derivedRelationships/itemController.js")"></script>
    <script type="text/javascript" src="@Url.ContentWithSalt("~/Modules/aras.innovator.DomainAccessControl/scripts/derivedRelationships/queryDefinitionModel.js")"></script>
    <script type="text/javascript" src="@Url.ContentWithSalt("~/Modules/aras.innovator.DomainAccessControl/scripts/derivedRelationships/relationshipFamilyModel.js")"></script>
    <script type="text/javascript" src="@Url.ContentWithSalt("~/Modules/aras.innovator.DomainAccessControl/scripts/derivedRelationships/viewModel.js")"></script>
    <script type="text/javascript" src="@Url.ContentWithSalt("~/Modules/aras.innovator.DomainAccessControl/scripts/derivedRelationships/formatters.js")"></script>
    <script type="text/javascript" src="@Url.ContentWithSalt("~/Modules/aras.innovator.core.ItemWindow/Scripts/derivedRelationshipView.js")"></script>
}
@section after_center
{
    <div class="dr-grid-container dr-grid-container_hidden">
        <div class="dr-grid"></div>
    </div>
}