﻿@{
	ViewBag.syncMode = 1;
	Layout = "Shared/_Layout.cshtml";
}
@section header
{
	<style type="text/css">
		@@import "@Url.ContentWithSalt("~/styles/default.css")";

		#top{
			height: 57px;
		}
	</style>
	<script type="text/javascript" id="formtool_window_script" src="@Url.ContentWithSalt("~/javascript/formtool_window.js")"></script>
	<script type="text/javascript" src="@Url.ContentWithSalt("~/javascript/item_window_common.js")"></script>
	<script type="text/javascript" src="@Url.ContentWithSalt("~/Modules/aras.innovator.core.ItemWindow/Scripts/formView.js")"></script>
}
@section center
{
	<iframe id="editor" src="@Url.ContentWithSalt("~/scripts/blank.html")" scrolling="no" frameborder="0" width="100%" height="100%"></iframe>
}