﻿.DynamicModelBrowserToolbar {
	margin: 12px 20px;
}

.DynamicModelBrowserToolbar .DynamicModelBrowserToolbarElement {
	margin-right: 8px;
	display: inline-block;
	vertical-align: middle;
}

.DynamicModelBrowserToolbar input[type="checkbox"].arasCheckboxOrRadio + label:before,
.DynamicModelBrowserToolbar input[type="radio"].arasCheckboxOrRadio + label:before,
.DynamicModelBrowserToolbar .arasRadioSpec {
	width: 16px;
	height: 16px;
	background-size: 16px 16px;
}